body {
    font-family: Arial, sans-serif;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    padding: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.category-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

/* Estilo da caixa (BOX) */
.category-button.box {
    border: 2px solid #007BFF;
    background-color: #f9f9f9;
    color: #007BFF;
    transition: all 0.3s ease-in-out;
}

.category-button.box:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.05);
}
 